<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-inmobi-sdk"
        version="5.0.2">
      
    <name>InMobi SDK for Cordova</name>
    <description>Add InMobi SDK to Cordova porject, as dependency for other plugins</description>
    <author>Facebook</author>
    <keywords>rjfun,cordova,inmobi,sdk</keywords>
    <repo>https://github.com/floatinghotpot/cordova-inmobi-sdk.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-inmobi-sdk/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <platform name="android">
        <source-file src="src/android/InMobi-5.0.1.jar" target-dir="libs" />
     </platform>
     
    <platform name="amazon-fireos">
        <source-file src="src/android/InMobi-5.0.1.jar" target-dir="libs" />
     </platform>

     <platform name="ios">
         <header-file src="src/ios/IMBanner.h"/>
         <header-file src="src/ios/IMBannerDelegate.h"/>
         <header-file src="src/ios/IMConstants.h"/>
         <header-file src="src/ios/IMError.h"/>
         <header-file src="src/ios/IMIncentivisedDelegate.h"/>
         <header-file src="src/ios/IMInterstitial.h"/>
         <header-file src="src/ios/IMInterstitialDelegate.h"/>
         <header-file src="src/ios/IMNative.h"/>
         <header-file src="src/ios/IMNativeDelegate.h"/>
         <header-file src="src/ios/InMobi.h"/>
         <header-file src="src/ios/InMobiAnalytics.h"/>

         <source-file src="src/ios/libInMobi-4.5.3.a" framework="true"/>
         <framework src="libsqlite3.dylib" />
         <framework src="libz.dylib" />
    </platform>

</plugin>
